{% extends "base.html" %} 
{% block conteudo %}
{% include "parcials/_messages.html" %} 
<h1>Olá {{ user.first_name }} {{ user.last_name }}, seja bem vindo!</h1>
<p class="mt-3">
    Seu nome de usuário é {{ user }}
</p>
<p>
    Seu primeiro nome é {{ user.first_name }}
</p>
<p>
    Seu sobrenome é {{ user.last_name }}
</p>
<p>
    Seu e-mail é {{ user.email }}
</p>
<form class="mt-3" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} 
    <button type="submit" class="btn btn-primary">Sair</button>
</form>
{% endblock conteudo %}

